@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
  background-image: linear-gradient(260deg, #2376ae 0%, #cffecf 100%);

.alumni-grid
  display flex
  flex-wrap wrap
  max-width 1100px
  margin 0 auto

.search-container
  display flex
  flex-wrap wrap
  justify-content center
  align-content flex-start
  max-width 600px
  height 80vh
  margin 0 auto

.search-form
  flex-basis 100%
  flex-grow 1
  flex-shrink 0
  input
    width 100%
    padding 1rem
    font-size 20px
  button 
    width 100%
  height 10vh

.graph-container
  display flex
  justify-content center
  flex-wrap wrap

.grid-figure
  flex-basis 100%
  flex-grow 1
  flex-shrink 0
  padding 2rem 2rem 
  border 2px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);
  margin-top 3rem
  align-text center

.navbar
  display flex
  justify-content space-around

.single-question
  @extend .grid-figure
  max-width 900px
  margin 0 auto
  display flex
  flex-flow row wrap
  justify-content center
  background white
  border 1px solid goldenrod

  .single-question__text
    text-align center
    box-shadow none
    border 0
    padding 0
    flex 1 0 100%
  .options
    flex 1 0 50%
  .clock
    flex 1 0 50%
    text-align center
    border 1px solid lightgray
  .grid-photo
    width 100%
    margin 0
  

// Points
.no-link
  text-decoration none

.answered
  background #A86FCA

.points
  text-align center
  strong
    color blue
    margin-right 5px
 
.option-form
  display flex 
  border 2px solid

  
.likes-heart
  background url(http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png) center no-repeat
  background-size contain
  font-size 2rem
  padding 1rem
  position absolute
  color blue
  left 50%
  top 50%
  pointer-events none
  

/*  
  Buttons  
*/

.control-buttons
  display flex
  justify-content center
    
button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 50%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  font-size 15px
  color blue
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color blue
    outline 0

/*
  Cowboy style speech bubble - you should probably use an SVG for this if you are doing more icons.
*/
.speech-bubble
  size = 1.25rem
  width size * 1.2
  height size 
  background blue
  display inline-block
  border-radius 50%
  position relative
  &:after
    display inline-block
    position absolute
    content ''
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 size size 0
    border-color: transparent blue transparent transparent
    top 30%
    left 0

  
  

