@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
  background: linear-gradient(270deg, #009ce4, #d03232, #e1d853);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

.alumni-grid
  display flex
  flex-wrap wrap
  max-width 900px
  margin 0 auto

.search-container
  display flex
  flex-wrap wrap
  justify-content space-around
  align-content space-around
  max-width 500px
  height 90vh
  margin 0 auto

.search-form
  flex-basis 100%
  flex-grow 1
  flex-shrink 0
  input
    width 100%
    padding 1rem
    font-size 20px
  button 
    width 100%
  height 10vh

.navbar
  ul
    list-style none
    display flex
    border 2px solid white
    margin 0 
    padding 0
    background-color #0F406B
    align-items center
  li
    flex 1
    a
      font-weight 100
      letter-spacing 2px
      padding 20px 5px
      font-size 2rem
      line-height 1
      display inline-block
      width 100%
      text-align center
      transition all 0.5s
      height 100%
    .link:hover
      background rgba(255,255,255,255)

.hitec-logo
  height 250px

.hitec-blanco-logo
  height 40px

.apple-logo
  height 50px
  
.android-logo
  height 73px

.graph-container
  display flex
  justify-content center
  flex-wrap wrap

.grid-figure
  flex-basis 100%
  flex-grow 1
  flex-shrink 0
  padding 2rem 2rem 
  border 2px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);

.tec, .api
  text-align center
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  align-content center
  div
    flex-basis 100%
    text-align center
  a
    font-size 5rem
    line-height 1

/*  
  Buttons  
*/

button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 50%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  font-family: 'Shanti', sans-serif;
  font-size 15px
  color black
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color blue
    outline 0



